Repository RepliMap/replimap-mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-in-commands, schema-purity, stdout-hygiene-test

no-print-in-commands:
  name: No print() in CLI commands
  entry: python scripts/check_stdout_hygiene.py
  language: python
  pass_filenames: true

schema-purity:
  name: Schema must be JSON serializable
  entry: python -m pytest tests/cli/test_schema_purity.py -v -x
  language: python
  pass_filenames: false
  stages:
  - commit

stdout-hygiene-test:
  name: Stdout hygiene tests pass
  entry: python -m pytest tests/cli/test_stdout_hygiene.py -v -x
  language: python
  pass_filenames: false
  stages:
  - commit

fix: resolve CI linting issues and add documentation
  docs/cli-v3-architecture.md
  pyproject.toml
  replimap/cli/config.py
  replimap/cli/errors.py
  replimap/cli/output.py
  replimap/cli/params/registry.py
  replimap/cli/state.py
  replimap/cli/telemetry.py
  scripts/check_stdout_hygiene.py
  tests/cli/test_config_manager.py
  tests/cli/test_output_manager.py
  tests/cli/test_schema_purity.py
  tests/cli/test_stdout_hygiene.py
Due: schema-purity, stdout-hygiene-test

feat: complete V3 architecture migration for CLI commands
  replimap/cli/__init__.py
  replimap/cli/commands/audit.py
  replimap/cli/commands/clone.py
  replimap/cli/commands/cost.py
  replimap/cli/commands/deps.py
  replimap/cli/commands/drift.py
  replimap/cli/commands/graph.py
  replimap/cli/commands/scan.py
  replimap/cli/commands/transfer.py
  replimap/cli/commands/trends.py
  replimap/cli/commands/unused.py
  replimap/cli/commands/validate.py
  replimap/cli/context.py
  replimap/cli/utils/console.py
Due: no-print-in-commands

feat: complete V3 architecture migration for ALL CLI commands
  replimap/cli/commands/analyze.py
  replimap/cli/commands/cache.py
  replimap/cli/commands/completion.py
  replimap/cli/commands/dr.py
  replimap/cli/commands/iam.py
  replimap/cli/commands/license.py
  replimap/cli/commands/load.py
  replimap/cli/commands/profiles.py
  replimap/cli/commands/remediate.py
  replimap/cli/commands/snapshot.py
  replimap/cli/commands/trust_center.py
  replimap/cli/commands/upgrade.py
Due: no-print-in-commands

fix: adjust exponential backoff test threshold for jitter tolerance
  tests/test_unified_error_handling.py
Due: none

feat: implement P2 UX Enhancement - User Success Engine
  replimap/cli/commands/__init__.py
  replimap/cli/commands/doctor.py
  replimap/cli/commands/explain.py
  replimap/cli/error_catalog.py
  replimap/cli/error_renderer.py
  replimap/core/context.py
  replimap/core/identity.py
  replimap/core/operations.py
  replimap/data/field_hints.yaml
  replimap/decisions/__init__.py
  replimap/decisions/cli.py
  replimap/decisions/manager.py
  replimap/decisions/models.py
  replimap/extraction/__init__.py
  replimap/extraction/hints.py
  replimap/recovery/__init__.py
  replimap/recovery/actions.py
  replimap/recovery/engine.py
  replimap/recovery/gray_zone.py
  tests/test_p2_ux_enhancement.py
Due: no-print-in-commands

fix: apply ruff formatting and linting fixes for P2 UX Enhancement
  CHANGELOG.md
  replimap/cli/commands/doctor.py
  replimap/cli/commands/explain.py
  replimap/cli/error_catalog.py
  replimap/cli/error_renderer.py
  replimap/core/identity.py
  replimap/decisions/cli.py
  replimap/recovery/actions.py
  replimap/recovery/engine.py
  replimap/recovery/gray_zone.py
  tests/test_p2_ux_enhancement.py
Due: no-print-in-commands

fix: apply missed ruff formatting to explain.py
  replimap/cli/commands/explain.py
Due: no-print-in-commands

fix: prioritize specific CI platforms over generic CI indicator
  replimap/core/context.py
Due: none

fix: isolate GitLab CI test from real CI environment variables
  tests/test_p2_ux_enhancement.py
Due: none

fix: resolve race conditions in concurrent scanner execution
  replimap/core/security/redactor.py
  replimap/core/unified_storage/sqlite_backend.py
  tests/test_sanitization.py
  tests/test_unified_storage_e2e.py
Due: none

perf: use SQLite native backup API for cache saving
  replimap/core/cache_manager.py
  replimap/core/unified_storage/engine.py
Due: none

perf: add timing instrumentation to scanner execution
  replimap/scanners/base.py
Due: none

perf: parallelize API calls within slow scanners
  replimap/scanners/iam_scanner.py
  replimap/scanners/messaging_scanner.py
  replimap/scanners/monitoring_scanner.py
Due: none

fix: use parallel_process_items function instead of non-existent method
  replimap/scanners/iam_scanner.py
  replimap/scanners/messaging_scanner.py
  replimap/scanners/monitoring_scanner.py
Due: none

style: apply ruff formatting fixes
  replimap/core/cache_manager.py
  replimap/scanners/iam_scanner.py
  replimap/scanners/messaging_scanner.py
  tests/test_sanitization.py
Due: none

perf: parallelize remaining slow scanners
  replimap/scanners/compute_scanner.py
  replimap/scanners/messaging_scanner.py
  replimap/scanners/monitoring_scanner.py
  replimap/scanners/storage_scanner.py
Due: none

docs: update technical docs with scanner parallelization
  CHANGELOG.md
  docs/technical-reference.md
Due: none

fix: eliminate duplicate graph initialization and reduce log noise
  replimap/core/cache_manager.py
  replimap/core/unified_storage/engine.py
Due: none

fix: populate resource dependencies from edges when loading from cache
  replimap/core/unified_storage/adapter.py
Due: none

fix: ensure all ResourceNode methods populate dependencies from edges
  replimap/core/unified_storage/adapter.py
Due: none

fix: ensure GraphEngineAdapter has full feature parity with GraphEngine
  replimap/core/unified_storage/adapter.py
Due: none

fix: make search work for grouped nodes by including member names
  replimap/graph/grouper.py
  replimap/graph/templates/graph.html.j2
Due: none

fix: resolve CLI command errors for unused, transfer, and snapshot
  replimap/cli/commands/snapshot.py
  replimap/cli/commands/unused.py
  replimap/cost/transfer_analyzer.py
  replimap/cost/unused_detector.py
Due: no-print-in-commands

fix: prevent double aggregation that caused missing connections in graph
  replimap/graph/aggregation.py
  tests/test_pricing_engine.py
Due: none

refactor: improve snapshot callback to properly inherit from GlobalContext
  replimap/cli/commands/snapshot.py
Due: no-print-in-commands

fix: handle cache version update after SQLite schema migration
  replimap/core/cache_manager.py
Due: none

docs: add CLAUDE.md with development guidelines and patterns
  CLAUDE.md
Due: none

docs: update CLAUDE.md with actual CI commands
  CLAUDE.md
Due: none

style: fix ruff formatting in cache_manager and transfer_analyzer
  replimap/core/cache_manager.py
  replimap/cost/transfer_analyzer.py
Due: none

fix: improve exception handling in parallel scanner processing
  replimap/scanners/base.py
  replimap/scanners/monitoring_scanner.py
Due: none

first commit
  README.md
Due: none

feat: initialize monorepo skeleton with pnpm + turborepo
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  .nvmrc
  README.md
  apps/api/.gitkeep
  apps/cli/.gitkeep
  apps/cli/replimap/config/loader.py.template
  apps/web/.gitkeep
  package.json
  packages/config/package.json
  packages/config/scripts/build.ts
  packages/config/src/frameworks.json
  packages/config/src/plans.json
  packages/config/src/resources.json
  packages/config/src/schema.json
  packages/config/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

chore: add generated config dist files
  .gitignore
  packages/config/dist/config.py
  packages/config/dist/index.ts
Due: none

feat: initialize monorepo skeleton
  packages/config/dist/config.py
  packages/config/dist/index.ts
Due: none

Fix CI
  packages/config/dist/config.py
  packages/config/dist/index.ts
Due: none

fix: remove timestamp from generated config files
  packages/config/dist/config.py
  packages/config/dist/index.ts
  packages/config/scripts/build.ts
Due: none

chore: remove placeholder directories for subtree migration
  apps/api/.gitkeep
  apps/cli/replimap/config/loader.py.template
  apps/web/.gitkeep
Due: none

remove placeholder directories for subtree migration - for CLI
  apps/cli/.gitkeep
Due: none

fix: resolve monorepo config and peer dependencies
  .npmrc
  .nvmrc
  apps/api/package.json
  apps/cli/replimap/_generated/__init__.py
  apps/cli/scripts/sync-config.sh
  apps/web/package.json
  apps/web/vercel.json
  package.json
  pnpm-lock.yaml
Due: none

feat: add shared config usage files for web and api
  apps/api/src/config.ts
  apps/web/package-lock.json
  apps/web/src/lib/config.ts
Due: none

Path conditions:
  no-print-in-commands: any of: ^replimap/cli/commands/.*\.py$, but not: ^tests/
  schema-purity: any of: ^replimap/cli/params/.*\.py$
  stdout-hygiene-test: any of: ^replimap/cli/output\.py$
